{% extends 'base.html.twig' %}

{% block title "Mon app react" %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
{% endblock %}

{% block javascripts %}
    <script src="https://kit.fontawesome.com/7483cc41fd.js" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}

