#app{
    background-color: #f6f6f6;
    width: 100%;
    min-height: 100%;
}

.rbc-event{
    background-color: #db3d44 !important;
}

.imgEncode{
    height: 20px;
}

.bgGrey{
    background-color: #e8eaed;
}

#navBar{
    background-color: #db3d44;
    height: 64px;
}

#flag{
    height: 20px;
    width: 52px;
}

.whiteBorder{
    background-color: white;
    box-shadow: 0px 0px 0.2rem 0px;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #db3d44 !important;
    border-color: #db3d44 !important;
}

.nameNav{
    color: white;
}